{{- $codespaces:= or (env "CODESPACES" | not | not) (env "DEVPOD" | not | not) (env "DOCKER" | not | not) -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  codespaces: {{ $codespaces }}
  email: "cyrill.naef@gmail.com"
  name: "Cyrill Näf"
